<!DOCTYPE HTML>
<html>
  <head>
    <title>AppDynamics Custom Dashboards</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <% include ./head %>
    <script>
      ga('send', 'screenview', {
		  'screenName': 'Index',
		  'appVersion': '1.0'
	  });
	  ga('send', 'pageview');
    </script>
  </head>
  <body>
    <header>
      <% include ./header %>
    </header>
    <div><p><a href="/samples.html">Sample Dashboards</a></p></div>
    <div><p><a href="/deploy.html">Health Rules and Dashboard Templates</a></p></div>
    <div><p><a href="/solutions.html">Packaged Solutions</a></p></div>
    <div><p><a href="/btsetup.html">BT Setup</a></p></div>
    <div><p><a href="/settings.html">Settings</a></p></div>
  </body>
</html>
