
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard Samples</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/css/bootstrap.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/pinto/jquery.pinto.min.js"></script>
    <style>
		#container {
		  width: 100%;
		  margin: auto;
		}
		
		#container > div {
		  -webkit-box-shadow: 0 4px 15px -5px #555;
		  box-shadow: 0 4px 15px -5px #555;
		  background-color: #fff;
		  width: 220px;
		  padding: 2px;
		  margin: 5px;
		}
		
		#container > div img {
		  padding: 0px;
		  display: block;
		  width: 100%;
		}
		
		.header {
			background-color: #ece9e9;
			height:100%;
			padding: 2px;
		}	
    </style>
  </head>

  <body style="background-color:#777">
    <div id="container">
		<% for(var i=0; i < dashsamples.samples.length; i++) { %>
		   	<div class="pinto">
		   		<img src="<%=dashsamples.samples[i].path%>/preview.png"/>
		   		<div class="header">
		     		<a href="deploysample.html?id=<%=dashsamples.samples[i].id%>"><h6><%= dashsamples.samples[i].name %></h6></a>
		     	</div>
		    </div>
		<% } %>
	</div>
 	
<script>  	
$(document).ready(function() {
    $('#container').pinto();
});
</script>	
  </body>
</html>
