
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard Samples</title>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <% include ./head %>
  </head>

  <body style="background-color:#777">
    <header>
      <% include ./header %>
    </header>
  </body>
</html>
