	<style type="text/css">
		.overlayContent {background: #D6EBFF;z-index: 2000; border-radius: 1em;padding: 2em;position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%)}
	</style>
  	<div class="overlayContent" ng-hide="!showSpinner"><img src="/img/spinner.gif" />&nbsp;&nbsp;&nbsp;Loading</div>